@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Descricao"]</h3>

<address>
    E-mail: <a href="mailto:@ViewData["MeuEmail"]">@ViewData["MeuEmail"]</a><br>
    Celular: @ViewData["Celular"]<br>
    Telefone: <strong> @ViewData["Telefone"]</strong><br>   
</address>